<div class="container">
  <h1>Department</h1>
  <form (ngSubmit)="processForm()" #departmentForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name"
             [(ngModel)]="department.name" name="name" required minlength="5" #name="ngModel">

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
        <div *ngIf="name.errors.required">
           Department name is required.
        </div>
       <div *ngIf="name.errors.minlength">
           Department name must be at least 5 characters long.
       </div>
      </div>
    </div>


    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" id="code" placeholder="code"
             [(ngModel)]="department.code" name="code" required minlength="3" #code="ngModel">

      <div *ngIf="code.invalid && (code.dirty || code.touched)"
            class="alert alert-danger">
        <div *ngIf="code.errors.required">
           Code is required.
        </div>
       <div *ngIf="code.errors.minlength">
           Code must be at least 5 characters long.
       </div>
      </div>
    </div>

    <div class="form-group" *ngIf="authService.isAdmin()">
      <label for="facultySelector">Faculty</label>
      <select id="faculty" name="facultySelector"
              [(ngModel)]="selectedFaculty" class="form-control" style="width: 250px"
              appDropdownRequired #selectRequiredControl="ngModel" name="selectedFaculty">
        <option value="-1" selected>Select faculty</option>

        <option *ngFor="let faculty of faculties" [value]="faculty.id">
          {{ faculty.name }}
        </option>
      </select>
      <div *ngIf="selectRequiredControl.invalid && (selectRequiredControl.dirty || selectRequiredControl.touched)"
            class="alert alert-danger">
            <div *ngIf="selectRequiredControl.errors?.nothingSelected">
               Select a faculty from the dropdown menu.
            </div>
      </div>
    </div>

    <div class="form-group">
      <label for="code">Description</label>

      <textarea class="form-control" id="description" rows="3" placeholder="Enter description"
                [(ngModel)]="department.description" name="description">

      </textarea>

    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" [disabled]="!departmentForm.valid">Submit</button>
      </div>
      <div class="col-sm-8">

      </div>
      <div class="col-sm-1">
        <button type="reset" class="btn btn-primary" routerLink="/departments" *ngIf="authService.isAdmin()">
          <i class="fa fa-list" aria-hidden="true"></i>
        </button>

      </div>
      <div class="col-sm-1">
        <button type="reset" class="btn btn-primary" (click)="departmentForm.reset()">Reset</button>
      </div>
    </div>
  </form>
</div>
